<!-- Menú de navegación -->
<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand logo" routerLink="/home">
        <img src="assets/logo_bukeala.png" alt="Logo" class="logo-img" />
        Bukeala
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav d-flex gap-3 align-items-center">
          <li><a class="nav-link" routerLink="/home">Inicio</a></li>
          <li><a class="nav-link" routerLink="/empleados">Empleados</a></li>
          <li><a class="nav-link" routerLink="/departamentos">Departamentos</a></li>
          <li><a class="nav-link" routerLink="/admin">Estructura Organizacional</a></li>
        </ul>
      </div>
    </div>
  </nav>