.footer {
    width:100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    gap: 20px;
  }
  
  .redes-sociales {
    display: flex;
    gap: 50px;
  }
  
  .redes-sociales a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  
  .redes-sociales a:hover {
    transform: scale(1.3);
  }
  
  .redes-sociales i {
    font-size: 1.6rem;
    color: var(--color-titulos);
  }
  

