<div class="footer">
    <div class="redes-sociales">
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.whatsapp.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-whatsapp"></i>
        </a>
    </div>

    <span>&copy; Bukeala, Todos los derechos reservados</span>
</div>
